.bodypart2 .part2
{
	background:white;
	height: 500px;
	width:500px;
	
}
.bodypart2 .part2  span{
    	
    text-align:center;
	position:relative;
	color:black;
	font-weight:bold;
	padding-bottom:2px;

}

.bodypart2 .part2  p{
   
    text-align:center;
	position:relative;
	top:100px;
	left:315px;
	font-family:"Tahoma";
	font-size: 27px;
	color:black;
	white-space:nowrap;
	padding:2px;
	

}
 
.bodypart2 .part2 .text_part2 
{
	text-align:center;
	position:relative;
	left:392px;
}
 .uk-button 
{
	background:#1e87f0;
	color:#fff;
	padding:1px 14% 1px 14%;
	margin:24px 20px;
	position:relative;
	right:-47%;
	height:10%;
	
	
}


img{
	position:relative;
	left:13%;
}